analytical/data2
analytical/laplace_analytical
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.tex~
*.toc
serial/laplace_serial
mpi/mpi_gs_redblack_slice_bin
mpi/mpi_gs_slice
mpi/mpi_jacobi_square
laplace_results.txt
laplace_analytical_results.txt
*_bin
