analytical/data2
analytical/laplace_analytical
report/report.aux
report/report.dvi
report/report.fdb_latexmk
report/report.fls
report/report.log
report/report.out
report/report.synctex.gz
report/report.tex~
report/report.toc
serial/laplace_serial
mpi/mpi_gs_redblack_slice_bin
mpi/mpi_gs_slice
mpi/mpi_jacobi_square
*.txt
*_bin
